@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700;800&family=Nunito+Sans:wght@300;400&display=swap');


:root {
  --primary: #8c38ff;
  --light: #eeeeee;
  --dark: #212121;
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --h2-font-family: "Merriweather", "Arial", sans-serif;
  --p-article-fonts: "Poppins", "Arial", sans-serif;
}

body {
  background-color: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  margin: auto;
}

.container {
  position: relative;
  min-height: 100vh;
}


.logo {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* resize text dimention based on vh */
  /* font-size: 3.5vw; */

  margin-right: 10px;
  /* font-size: 40px; */
  font-weight: 500;
  font-family: 'Merriweather', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
}

/* --------------------------------- NAVBAR */
.nav_head {
  /* max-width: 1280; */
  max-height: 80px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

nav {
  background-color: var(--dark);
  padding: 16px 32px;
  border-bottom: 2px solid var(--primary);
}


.menu {
  justify-content: flex-end;
  
}

.menu a {
  color: #FCFAF6;
  margin: 0 16px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;
}
/* --------------------------------- SUPER BUTTON */
.dropdown {
  /* display: flex; */
  position: relative;
  display: inline-block;

}

.dropbtn {
  cursor: pointer;
}



.dropdown-content {
  display: none;
  position: absolute;
  bottom: -23.4vh;
  right: 0;
  background-color: rgba(46, 43, 43, 0.963);
  min-width: 200px;
  overflow: auto;
  border-radius: 5%;
}

.dropdown-content a {
  color: wheat;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1.4rem;
}

.dropdown-content a:hover {
  background-color: rgba(96, 89, 89, 0.963);
}

.show {display:block;}

#superBtn {
  position: relative;
  width: 80px;
  bottom: -5vh;
}

/* --------------------------------- HIRO SECTION */

.hero-text {
  text-align: center;
  padding-top: 9vh;
  max-width: 1300px;
  margin: auto;

}


h1 {
  font-family: "Poppins", sans-serif;
  font-size: 5vh;

  background-image: linear-gradient(325deg, #ba42f9 15%, #22d7cfe0 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: #ae67fa;
  font-size: 1.8rem;
  font-family: var(--h2-font-family);
  text-indent: 5%;
}

p {
  font-family: var(--p-article-fonts);
  font-size: 1.3rem;
  color: #FCFAF6;
  word-spacing: 0.4rem;
  padding: 1em;
  text-indent: 5%;
}

/* --------------------------------- HOME ARTICLE */

.home-article {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.img-article,
.text {
  padding: 1.5rem;
}

.text {
  width: 65%;
}

.home-article img {
  border-top-left-radius: 0%;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 0%;
  max-width: 360px;
  min-width: 250px;
  padding: 20px;
}

.paragrafo {
  position: relative;
  
}

/* --------------------------------- Footer */


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

main {
  padding-bottom: 2.5rem;
  /* Footer margin top */
}

.socials {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.4rem;
  background-color: rgba(64, 60, 60, 0.574);
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.socials i {
  color: wheat;
  font-size: 1.5rem;
  cursor: pointer;
}

/* --------------------------------- MEDIA */

@media only screen and (max-width: 820px) {
.menu :first-child {
  display: none;
}
}
@media only screen and (max-width: 600px) {
  .home-article {
    flex-direction: column;
    align-items: center;
  }

  .menu :nth-child(2) {
    display: none;
  }

  .image,
  .text {
    width: 100%;
  }
}

@media only screen and (max-width: 690px) {
  .menu :nth-child(2) {
    display: none;
  }
 
}

@media only screen and (max-width: 412px) {
  .menu {
    display: none;
  
  }
 
}
