@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@300;500;600&display=swap');


:root {
  --primary: #8c38ff;
  --light: #eeeeee;
  --dark: #212121;
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  max-width: 1280;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--dark);
  padding: 16px 32px;
  border-bottom: 3px solid var(--primary);
}

.logo {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   
  margin-right: 10px;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}


.hamburger {
  display: block;
  position: relative;
  z-index: 1;

  user-select: none;

  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background-color: var(--light);
  border-radius: 6px;
  z-index: 1;

  transform-origin: 0 0;

  transition: 0.4s;
}

.hamburger:hover span {
 
  background-color: var(--primary);
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(-15px);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}
 

.menu {
  display: none;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;
}

.menu a {
  color: #fff;
  margin: 0 16px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;
}


.menu a.is-active,
.menu a:hover {
  background-color: var(--primary);
}

@media (min-width: 700px) {
  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: center;
    
  }
}
  


body {
    background-color: rgba(245, 239, 229, 0.835);
    background-image: url(./assets/bg-trefle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    position: relative;
    padding-top: 140px;
    padding-left: 3rem;

    font-family: Poppins;

    text-transform: uppercase;
    font-size: 2.7rem;
    background-color: #ff8177;

    background-image: linear-gradient(325deg, #ba42f9 15%, #22d7cfe0 75%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    
}

@media (max-width: 558px) {
    h1 {
        font-size: 2rem;
        padding-left: 1.5rem;
    }
}

.bg__footer {
    background: url(./assets/onde-rosellabotton.svg);
    opacity: 1;
    width: 100%;
    height: 30%;
    position: absolute;
    background-repeat: no-repeat;

    
    
    
    
}